@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/antd/dist/antd.css";

@font-face {
  src: url("./assets/fonts/OpenSans/OpenSans-Regular.ttf");
  font-family: "Open Sans";
}
@font-face {
  src: url("./assets/fonts/Sofia/Sofia\ Pro\ Regular\ Az.otf");
  font-family: "Sofia Pro";
}

body {
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fcfcfc;
}


p {
  margin: 0px;
}

.ant-form-item-explain-error{
  color: #ff4d4f !important;
}
.ant-upload.ant-upload-drag p.ant-upload-drag-icon .anticon {
  font-size: 58px;
  color: #0C233C;
}

.login_bg {
  background-image: url("./assets/images/login-bg.svg");
  height: 100%;
  width: 100%;
}
